// Main Sass File
$bg-color: #333;
$font-color:#fff;
$primary-color:#0d47a1;
$secondary-color:#ccc;
$dark-overlay: rgba(0,0,0,0.7);
$icon-size: 30px;

body{
  background: $bg-color;
  color: $font-color;
}

nav{
  background-color: $primary-color;
  a .navbar-brand{
    font-size: 20px;
    text-decoration: none;
  }
}

.navbar{
  border-bottom: $font-color 1px solid;
  opacity: 0.8;
}

#home-section{
  background: url(../img/home.jpeg) no-repeat;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;

  .dark-overlay{
    background-color: $dark-overlay;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    min-height: 500px;
    border-bottom: $font-color 1px solid;
  }
  .home-inner{
    padding-top: 130px;
  }

}
.btn{
  border-radius: 0;
}
#about-head{
  border-bottom: $primary-color 2px solid;
}
#about-section{
  color: $bg-color;
  .fa{
    font-size: $icon-size;
  }
  border-bottom: $primary-color 2px solid;
}
#canvas-control{
  margin: auto;
  padding-bottom: 25px;
}
